<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>title</title>
</head>
<body>
<h1>책 정보 출력</h1>
<hr>
<button th:onclick="|location.href='@{/bookinfo/b1}'|">모든 도서</button>
<button th:onclick="|location.href='@{/bookinfo/b2}'|">가격이 높은 순으로</button>
<button th:onclick="|location.href='@{/bookinfo/b3}'|">가격이 20000원 보다 높은 도서</button>
<button th:onclick="|location.href='@{/bookinfo/b4}'|">웹프로그래밍 도서</button>
<button th:onclick="|location.href='@{/bookinfo/b5}'|">데이터베이스와 인프라 도서</button>
<button th:onclick="|location.href='@{/bookinfo/b6}'|">도서명에 자바를 포함하는 도서</button>
<button th:onclick="|location.href='@{/bookinfo/b7}'|">도서명에 스프링을 포함하는 도서</button>
<button th:onclick="|location.href='@{/bookinfo/b8}'|">분류별 도서 가격의 평균</button>


<th:block th:if="${msg == null}" th:each="book : ${list}" >
    <ul th:if="${book.title == null}">
      <li>[[${book.kind}]] [[${book.bookPrice}]]</li>
    </ul>
    <ul th:unless="${book.title == null}">
      <li>[[${book.title}]] [[${book.bookPrice}]] [[${book.kind}]]</li>
    </ul>
</th:block>

<th:block th:unless="${msg == null}">
  <h3>[[${msg}]]</h3>
</th:block>
</body>
</html>







